<div class="container-fluid" id="top">
  <div class="row flex-nowrap main-row">
    <nav class="sidebar bg-ribbed-light">
      <%= include('sidebar.html') %>
    </nav>
    <main class="main">
      <header class="d-none d-lg-block">

      </header>
      <section id="introduction">
        <%= htmlFor('introduction') %>
      </section>
      <section id="compound-op">
        <%= htmlFor('compound-op') %>
      </section>
      <section id="type-conversion">
        <%= htmlFor('type-conversion') %>
      </section>
      <section id="obj-prototype">
        <%= htmlFor('obj-prototype') %>
      </section>
      <section id="function-prototype">
        <%= htmlFor('function-prototype') %>
      </section>
    </main>
  </div>
</div>
